# -------------------------
# Build directories
# -------------------------
build/
*/build/
build-*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile*

# Qt autogen
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*_plugin_import.cpp
*_qmlcache.qrc

# Qt Creator
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.autosave
CMakeLists.txt.user*
*creator.user*

# Compiled objects
*.o
*.lo
*.slo
*.obj

# Libraries
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.prl

# Qt resources
*.qmlc
*.jsc
*.qm

# Qt unit tests
target_wrapper.*
